.booking-clinic-content {
    margin: 0px 200px;
    min-height: 100vh;
}

.booking-clinic-title {
    margin-bottom: 26px;
}

.booking-clinic-title p {
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}

.booking-clinic-title span {
    font-size: 16px;
    opacity: 0.8;
}