.normal{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s linear;

    &:hover{
        cursor: pointer;
        opacity: 0.8;
        color: #fff !important;
    }
}

.outline{
    outline: none;
    background-color: #fff;
    color: rgb(15, 123, 255);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
    padding: 10px 16px;
    border-radius: 5px;
    transition: all 0.2s linear;

    &:hover {
        cursor: pointer;
        background-color: rgb(15, 123, 255);
        color: #fff;
    }
}

.disabled{
    pointer-events: none;
    opacity: 0.4;
    padding: 10px 16px;
    border-radius: 5px;
    background-color: #ccc;
    font-size: 15px;
    font-weight: 500;
}

.onlyLink{
    &:hover{
        cursor: pointer;
        // color: #000;
    }
}

.primary{
    background-color: var(--primary-color);
}

.update{
    border: none;
    background-color: #ff9800;
    color: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s linear;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        color: #fff !important;
    }
}

//size
.s{
    max-width: 200px;
    text-align: center;
}

.l{
    text-align: center;
    min-width: 340px;
}

.xl {
    text-align: center;
    min-width: 760px;
}
