.doctor-manage-content{
    padding: calc(30px + var(--height-header)) 50px 10px;
}

h1{
    text-align: center;
}   

.form{
    margin-top: 50px;
}

.note, .year-experience, .address-map, .address, .workPlace, .introduction, .traning-process, .experience{
    display: flex;
    flex-direction: column;
}

.btn-update, .btn-save{
    margin-top: 20px;
}