.hospital-manage-content{
    padding: calc(var(--height-header) + 20px) 0px 0px 0px;
}

.hospital-manage-title{
    text-align: center;
}

.hospital-manage-body{
    padding: 40px 80px;
}

.btn-save{
    margin-top: 30px;
}