.booking-doctor-content{
    margin: 0px 200px;
    min-height: 100vh;
}

.booking-doctor-title{
    margin-bottom: 26px;
}

.booking-doctor-title p{
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}

.booking-doctor-title span{
    font-size: 16px;
    opacity: 0.8;
}