.expert-container {
    margin-top: 50px;
}

.expert-content{
    margin: 0px 120px;
}

.title{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
}

.body{
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    height: 100%;
    padding: 22px;
    display: flex;
    justify-content: space-between;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-right p {
    font-size: 20px;
    font-weight: 500;
}

.more-btn {
    color: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 6px 12px;
    margin-top: 10px;

    &:hover{
        opacity: 0.9;
    }
}

.more-btn span {
    font-size: 15px;
    font-weight: 500;
}

.icon-arrow {
    margin-left: 10px;
    font-size: 14px;
}