.expert-container {
    margin-top: 50px;
}

.expert-content{
    margin: 0px 120px;
    max-height: 500px;
}

.title{
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0px;
}

.body{
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    height: 100%;
    padding: 22px;
    display: flex;
    justify-content: space-between;
}

.content-left{
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.expert-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info{
    margin-left: 20px;
}

.info p{
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
}

.info span{
    opacity: 0.9;
    font-size: 1.4rem;
}

.content-right{
    flex: 1;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.content-right p {
    font-size: 2rem;
    font-weight: 500;
}

.more-btn {
    color: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 6px 12px;
    margin-top: 10px;

    &:hover{
        opacity: 0.9;
    }
}

.more-btn span {
    font-size: 1.5rem;
    font-weight: 500;
}

.icon-arrow {
    margin-left: 10px;
    font-size: 1.4rem;
}