.user-manage-container{
    padding: calc(50px + var(--height-header)) 20px;
    background-color: #f2f6f9;
}

// .user-manage-container

.add-new-user{
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    background-color: var(--primary-color);

    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
}

.user-manage-tabel {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.user-manage-tabel td,
.user-manage-tabel th {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-manage-tabel tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-manage-tabel tr:hover {
    transition: all 0.2s ease;
    background-color: #ddd;
}

.user-manage-tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary-color);
    color: white;
}

.btn-add-user{
    margin-bottom: 10px;
}

.action-icon{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
}

.edit-icon, .delete-icon{
    transition: all 0.2s ease;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.edit-icon{
    color: var(--edit-color);
}

.delete-icon{
    color: var(--delete-color);
}

.btn-save-user{
    margin-bottom: 10px;
}