.hospital-section-container {
    margin-top: 50px;
}

.hospital-section-content{  
    margin: 0 120px;
    min-height: 500px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-left h2 {
    font-weight: 500;
}

.content-left p {
    color: var(--text-color);
    font-size: 15px;
}

.more-btn {
    color: #fff !important;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: var(--primary-color) !important;
    display: flex;
    align-items: center;
    padding: 6px 12px;

    &:hover{
        opacity: 0.8;
    }
}

.more-btn span {
    font-size: 15px;
    font-weight: 500;
}

.icon-arrow {
    margin-left: 10px;
    font-size: 14px;
}

.body {
    height: 100%;
    padding: 30px;
    position: relative;
}

//btn
.btn-slider {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    right: 0.01%;
}

.btn-slider button {
    padding: 8px 16px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 9px -2px #bbb;
    transition: all 0.1s linear;

    &:hover {
        background-color: var(--primary-color);
    }
}

.btn-prev {
    margin-left: -10px;
    transition: all 0.1s linear;

    &:hover {
        color: #fff;
    }
}

.btn-next {
    margin-right: -10px;
    transition: all 0.1s linear;

    &:hover {
        color: #fff;
    }
}

.hospital-item {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;

    &:hover p span,
    &:hover p,
    &:hover h3 {
        transition: all 0.1s ease;
        color: var(--primary-color) !important;

        .icon-arrow-legs {
            display: block;
        }

        .icon-arrow-legless {
            display: none;
        }
    }
}

.card {
    position: relative;
    width: 290px;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    margin: 8px 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    transition: all 0.1s linear;

    &:hover {
        box-shadow: 0px 2px 10px 1px #e1e1e1;

        .img-below{
            opacity: 0.9;
        }
    }
}

.img-below{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
    top: 0;
    height: 140px;
    object-fit: cover;
    transition: all 0.2s linear;
}

.img-above{
    position: absolute;
    border-radius: 6px;
    padding: 4px;
    box-shadow: 0px 0px 5px 0px #d0d0d0;
    background-color: #fff;
    top: 20%;
    left: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-flex-end;
    justify-content: space-between;
    padding: 60px 20px 10px;
}

.short-intro{
    padding-bottom: 40px;
}

.short-intro span{
    font-size: 15px;
    color: var(--text-color);
}

.short-intro h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    -webkit-line-clamp: 1;
    width: 250px;
}

.schedule{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-flex-end;
    align-items: flex-start;
    width: 100%;
}

.schedule span{
    font-size: 15px;
    color: var(--text-color);
}
