.slick-initialized,
.slick-list,
.slick-track,
.slick-slide div {
    height: 100% !important;
}

div .slick-slide{
   display: flex !important;
   justify-content: center !important;
}

//dot
.ft-slick__dots--custom {
    height: 8px;
    width: 14px;
    background-color: #e5e7e9;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.slick-dots li {
    top: 10px;
    width: 20px;
    transition: width 0.4s linear;
}

.slick-dots .slick-active {
    width: 30px;
    transition: width 0.4s linear;
}

.slick-dots .slick-active .ft-slick__dots--custom {
    display: block;
    width: 30px;
    background-color: #5b5b5b;
    top: 0px;
    transition: width 0.4s linear;
}