.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 3;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-header);
    padding: 0 10px;
    position: relative;
}

.header-logo {
    cursor: pointer;
}

.header-logo img {
    position: absolute;
    width: 150px;
    transform: translateY(-50%);
    top: 50%;
}

.header-navbar{
    display: flex;
    align-items: center;
}

.header-text-item {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.2s linear;
    margin-right: 10px;

    &:hover{
        cursor: pointer;
        background-color: #ecf0f3;
    }
}

.drop-icon{
    margin-left: 4px;
    font-size: 12px;
}

//account
.header-account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-language{
    font-size: 24px;
    margin-right: 30px;
    cursor: pointer;
    color: #4a4a4a;
}

.acconut-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
    cursor: pointer;
}

.img-account{
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #eee;
}

.btn-login{
    outline: none;
    background-color: #fff;
    color: rgb(15, 123, 255);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgb(15, 123, 255);
    padding: 10px 16px;
    border-radius: 5px;
    transition: all 0.2s linear;

    &:hover{
        cursor: pointer;
        background-color: rgb(15, 123, 255);
        color: #fff;
    }
}

.link {
    text-decoration: none;
}

