.specialty-manage-container{
    height: 1000px;
    padding: 0px 100px;
}

.specialty-manage-content {
    padding-top: calc(30px + var(--height-header));
}

h2{
    text-align: center;
}

.btn-save-specialty{
    margin-top: 30px;
}

