.clinic-detail-content{
    padding: calc(var(--height-header) + 50px) 0px 50px 0px;
}

.clinic-detail-img{
    padding: 0px 300px;
}

.view-images{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.infomartion{
    padding: 0px 300px;
}

.btn-booking-wrapper{
    margin-top: 50px;
    text-align: right;
}

.btn-booking{
    padding: 10px 130px;
    margin-top: 40px;
}

.introduction-title, .schedule-title, .specialty-title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.specialty {
    margin-top: 30px;
}

.specialty div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.btn-specialty {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 20px;
    background-color: #f1f5f9;
    transition: all 0.2s ease;

    &:hover {
        background-color: var(--primary-color);
        color: #fff;
    }
}
