


//size
.s{
    width: 50px;
    height: 50px;
}

.m{
    width: 100px;
    height: 100px;
}

.xs{
    width: 32px;
    height: 32px;
}

.l{
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
}

.xl{
    width: 650px;
    height: 340px;
    object-fit: cover;
}

.xxl{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.xl-no-stretch{
    width: 450px;
}

.br{
    border-radius: 50%;
}

.br10{
    border-radius: 10px;
}

.center{
    display: block;
    margin: 0 auto;
}

.alignToCenter{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

