.detail-doctor-container{
    padding: calc(30px + var(--height-header)) 0px;
    background-color: #f1f5f9;
}

.detail-doctor-content {
    position: relative;
    margin: 0px 300px;
    background-color: #fff;
    border-radius: 10px;
}

.info-short{
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    flex: 1;
    margin-right: 30px;
}

.text p {
    margin-bottom: 6px;
}

.text{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.name{
    font-size: 22px;
    font-weight: 500;
}

.role, .specialty{
    display: flex;
    align-items: center;
}

.content-left{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-right: 20px;

    &::after{
        position: absolute;
        content: "";
        display: block;
        height: 16px;
        width: 2px;
        background-color: #c4c4c4;
        top: 50%;
        transform: translateY(-50%);
        right: -12px;
    }
}

.content-right span:first-child{
    font-size: 17px;
    font-weight: 600;
    margin-right: 6px;
}

.icon-check{
    margin-right: 5px;
}

.specialty span:first-child, .position span:first-child, .hospital span:first-child{
    margin-right: 10px;
    font-size: 15px;
    color: var(--text-color);
    opacity: 0.8;
}

.specialty-item {
    color: var(--primary-color) !important;
    font-size: 17px !important;
    font-weight: 500;
}

.hospital{
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.position span .hospital span {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

.note{
    background-color: #fff7ed;
    padding: 20px;
    color: #ea580c;
}

.note p span{
    margin-left: 5px;
}

.note-text{
    color: #333;
}

.schedule-title {
    font-size: 20px;
    font-weight: 500;
    padding: 12px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        .icon-down {
            opacity: 0.9;
        }
    }
}

.schedule-content {
    padding: 0px 0px 20px 20px;
}

.icon-down {
    transition: all 0.2s linear;
    font-size: 25px;
    color: #ccc;
    background-color: transparent;
}

.icon-up {
    transition: all 0.2s linear;
    font-size: 25px;
    color: var(--primary-color);
}

.training , .introduction, .experience, .address-map{
    padding: 10px 20px;
}

.training p , .introduction p, .experience p, .address-map p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.introduction span{
    font-weight: 500;
    color: #000;
    font-size: 18px;
}

.section-title{
    font-size: 21px !important;
    margin-bottom: 20px !important;
}

.booking-now{
    margin: 0 300px;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0px;
    padding: 6px 12px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 6px;
    box-shadow: 0px 0px 3px 0px #cccccc;
}

.booking-now a{
    font-size: 17px;
    display: block;
    width: 200px;

    &:hover{
        cursor: pointer;
        color: var(--primary-color);
    }
}

