.login-content {
    position: relative;
}

.custom-pass {
    position: absolute;
    right: 6px;
    transform: translateY(-100%);
}

.show-pass {
    font-size: 15px;
    cursor: pointer;
}

.hide-pass {
    font-size: 15px;
    cursor: pointer;
}

.more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-check-label{
    font-size: 14px ;
}

.forgot-password {
    font-size: 14px;
    transform: translateY(25%);
    
    &:hover{
        color: var(--primary-color);
        cursor: pointer;
    }
}